<link rel="import" href="bower_components/polymer/polymer.html">

<!--
Chuck Norris powers polymerized

#### Example

    <chuck-norris />


@element chuck-norris
@blurb Chuck Norris powers polymerized
@status beta
@homepage https://github.com/damnit/chuck-polymer
-->
<polymer-element name="chuck-norris" noscript>
  <template>
  {{chuck}}
  </template>
  <script>
    Polymer('chuck-norris', {
      author: "Otto Hockel",
      /**
      * Set up a facts list and set a random chuck fact
      *
      * @callback ready
      */
      ready: function(){
        // Set up the chuck facts list and take a random entry
        var facts = [
            "Chuck Norris won a game of chess with checker pieces",
            "When Alexander Bell invented the telephone he had 3 missed calls from Chuck Norris",
            "Fear of spiders is aracnaphobia, fear of tight spaces is chlaustraphobia, fear of Chuck Norris is called Logic",
            "There used to be a street named after Chuck Norris, but it was changed because nobody crosses Chuck Norris and lives.",
            "Chuck Norris has a grizzly bear carpet in his room. The bear isn't dead it is just afriad to move.",
            "Chuck Norris died 20 years ago, Death just hasn't built up the courage to tell him yet.",
            "If you rate this 5 roundhouse kicks, then Chuck Norris WILL roundhouse kick Justin Bieber's ass.",
            "Chuck Norris has already been to Mars; that's why there are no signs of life.",
            "Chuck Norris doesn't call the wrong number. You answer the wrong phone.",
            "Some magicans can walk on water, Chuck Norris can swim through land.",
            "Chuck Norris and Superman once fought each other on a bet. The loser had to start wearing his underwear on the outside of his pants.",
            "Chuck Norris once urinated in a semi truck's gas tank as a joke....that truck is now known as Optimus Prime.",
            "Chuck Norris can cut through a hot knife with butter",
            "Chuck Norris doesn't flush the toilet, he scares the sh*t out of it",
            "Chuck Norris counted to infinity - twice.",
            "Chuck Norris is the reason why Waldo is hiding.",
            "Death once had a near-Chuck Norris experience",
            "When the Boogeyman goes to sleep every night, he checks his closet for Chuck Norris.",
            "Chuck Norris can slam a revolving door.",
            "Chuck Norris once kicked a horse in the chin. Its decendants are known today as Giraffes.",
            "Chuck Norris will never have a heart attack. His heart isn't nearly foolish enough to attack him.",
            "Chuck Norris found the 51st shade of gray",
            "Chuck Norris can win a game of Connect Four in only three moves.",
            "Chuck Norris once got bit by a rattle snake........ After three days of pain and agony ..................the rattle snake died",
            "When Chuck Norris does a pushup, he isn't lifting himself up, he's pushing the Earth down.",
            "There is no theory of evolution. Just a list of animals Chuck Norris allows to live.",
            "Chuck Norris can light a fire by rubbing two ice-cubes together.",
            "Chuck Norris doesn’t wear a watch. HE decides what time it is.",
            "The original title for Alien vs. Predator was Alien and Predator vs Chuck Norris.",
            "Chuck Norris doesn't read books. He stares them down until he gets the information he wants.",
            "Chuck Norris made a Happy Meal cry.",
            "Chuck Norris' hand is the only hand that can beat a Royal Flush.",
            "There is no theory of evolution. Just a list of creatures Chuck Norris has allowed to live.",
            "Outer space exists because it's afraid to be on the same planet with Chuck Norris.",
            "Chuck Norris destroyed the periodic table, because Chuck Norris only recognizes the element of surprise.",
            "If you spell Chuck Norris in Scrabble, you win. Forever.",
            "Chuck Norris does not sleep. He waits.",
            "Some people wear Superman pajamas. Superman wears Chuck Norris pajamas.",
            "They once made a Chuck Norris toilet paper, but there was a problem: It wouldn't take shit from anybody.",
            "Chuck Norris can drown a fish",
            "In the back of the book of world records, it says \"All records are held by Chuck Norris. The ones listed are in second place.\"",
            "Chuck Norris is so persuasive that he convinced a mirror he wasn't there.",
            "Chuck Norris played Russian Roulette with a fully loaded gun and won.",
            "Chuck norris can eat soup with chop sticks",
            "A Handicapped parking sign does not signify that this spot is for handicapped people. It is actually in fact a warning, that the spot belongs to Chuck Norris and that you will be handicapped if you park there.",
            "Chuck Norris has the greatest Poker-Face of all time.",
            "Google won't search for Chuck Norris because it knows you don't find Chuck Norris, he finds you.",
            "Gravity is Space's way of trying to keep Chuck Norris away from it.",
            "May 6th, 1945: A then five-year old Chuck Norris swam the Atlantic Ocean. The next day, the Nazis surrendered...",
            "Chuck Norris can give Tylenol a headache"
        ]
        var random = Math.round(Math.random()*facts.length);
        if(random === facts.length) random = random-1;
        this.chuck = facts[random];
      }
        });
  </script>
</polymer-element>
